<style>
    body {
        background-color: #2E363F;
        padding: 0;
    }

    a {
        color: #666;
    }

    a:hover,
    a:focus {
        text-decoration: none;
        color: #28b779;
    }

    </body>
</style>
<div class="row mt-2">
    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 mx-auto mt-4">
        <card class="card card-body" id="registerdiv">
            <h2 class="text-center">Account Registration</h2>
            <form action="/users/register" method="post">
                <div class="form-group">
                    <label for="fname">First Name</label>
                    <input type="text" value="{{firstName}}" name="firstName" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="sname">Second name</label>
                    <input type="text" value="{{secondName}}" name="secondName" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" value="{{email}}" name="email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" value="{{password}}" name="password" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="password2"> Confirm Password</label>
                    <input type="password" name="password2" value="{{password2}}" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-success"><i class="fa fa-registered" aria-hidden="true"></i> &nbsp
                    Register</button>
            </form>
        </card>
    </div>
</div>